.footer{
    padding-top: $section;
    background-color: $purple;    
    &__social{
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(5, 25px);
        justify-content: center;
        align-self: center;
        padding: 1rem 0;
        
    }
    &__link{
        color: $grayTwo;
        display: block;
        text-decoration: none !important;
        padding: 0.3rem 0;
        font-size: 0.9rem;
        @include hover-focus-active{
            color: $green;
        }
    }
    &__botton{
        @include botton();
        margin: 1rem 0 ;
    }
    &__copyright{
        color: $gray;
        font-size: 0.9rem;
        padding: 1rem 0;
        margin: 0;
    }
    @media screen and (min-width:780px) {
        padding-top: 1.5rem;
        &__grid{
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(3, 1fr);
        }
        .col-1{
            display: grid;
            align-items: stretch;
        }
        &__social{
            justify-content: inherit;
        }
        .col-2{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .col-3{
            display: grid;
            justify-content: center;
        }
    }
}
