.icon {
    &__facebook {
        @include icon;
        background-image: url('../../images/icon-facebook.svg');
    }
    &__youtube{
      @include icon;
      background-image: url('../../images/icon-youtube.svg');
    }
    &__twitter {
      @include icon;
      background-image: url('../../images/icon-twitter.svg');
    }
    &__pinterest {
      @include icon;
      background-image: url('../../images/icon-pinterest.svg');
    }
    &__instagram {
      @include icon;
      background-image: url('../../images/icon-instagram.svg');
    }
  }