body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #2d314d;
  overflow-x: hidden;
  line-height: 1.3em;
}

.wrapper {
  padding: 0 1.5em;
}

.center {
  text-align: center;
}

@media screen and (min-width: 780px) {
  .wrapper {
    padding: 0 10%;
  }

  .center {
    text-align: left;
  }
}
.icon__facebook {
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/icon-facebook.svg");
  color: white;
}
.icon__facebook:hover {
  filter: invert(30%);
  cursor: pointer;
}
.icon__youtube {
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/icon-youtube.svg");
  color: white;
}
.icon__youtube:hover {
  filter: invert(30%);
  cursor: pointer;
}
.icon__twitter {
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/icon-twitter.svg");
  color: white;
}
.icon__twitter:hover {
  filter: invert(30%);
  cursor: pointer;
}
.icon__pinterest {
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/icon-pinterest.svg");
  color: white;
}
.icon__pinterest:hover {
  filter: invert(30%);
  cursor: pointer;
}
.icon__instagram {
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/icon-instagram.svg");
  color: white;
}
.icon__instagram:hover {
  filter: invert(30%);
  cursor: pointer;
}

.header {
  padding: 1rem 1.5em;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 1em;
}

.menu {
  width: 40px;
  background: url("../../images/icon-hamburger.svg") no-repeat center;
}

.hero {
  text-align: center;
  padding-bottom: 3rem;
}
.hero__fondo {
  height: 300px;
  margin: 0 -1.5em;
  background: url("../../images/image-mockups.png") center bottom no-repeat, url("../../images/bg-intro-mobile.svg") center;
  background-size: 345px, cover;
}
.hero__h1 {
  font-size: 2.5rem !important;
  font-weight: 300 !important;
  line-height: 1.3em;
  letter-spacing: 0.005em !important;
  margin: 0.5em 0;
}
.hero__copy {
  font-size: 0.85em;
  color: #9698a6;
}
.hero__button {
  color: white;
  border: none;
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
  padding: 0.9em 2.2em;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
}
.hero__button:hover {
  background-image: linear-gradient(to right, #adccb6 0%, #6ec7dd 100%);
}
@media screen and (min-width: 780px) {
  .hero {
    text-align: left;
    background: url("../../images/bg-intro-desktop.svg") right -800px top -280px no-repeat;
    min-height: 550px;
    background-size: auto;
    display: block;
    box-sizing: border-box;
  }
  .hero__content {
    position: relative;
    display: grid;
    grid-template-areas: "description img";
    grid-template-columns: 400px 1fr;
    align-items: center;
    min-height: 565px;
  }
  .hero__fondo {
    grid-area: img;
    display: flex;
    min-height: inherit;
    position: absolute;
    top: 0;
    left: 37%;
    width: 100%;
    height: 768px;
    background: url("../../images/image-mockups.png") left top -150px no-repeat, none;
    background-size: auto;
  }
  .hero__mockups {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    height: 250%;
    left: initial;
    right: 0;
    top: 0;
  }
}
@media screen and (min-width: 1120px) {
  .hero {
    background: url("../../images/bg-intro-desktop.svg") right -500px top -280px no-repeat;
  }
  .hero__fondo {
    left: 40%;
  }
}

.why {
  background: #f3f4f6;
  padding: 3rem 0;
}
.why__h2 {
  font-size: 2rem !important;
  font-weight: 300 !important;
  line-height: 1.3em;
  letter-spacing: 0.005em !important;
  margin: 0.5em 0;
}
.why__copy {
  font-size: 0.85em;
  color: #9698a6;
  margin-bottom: 3rem;
}
.why__item {
  margin-bottom: -1.2rem;
}
.why__h3 {
  font-size: 1.5rem !important;
  font-weight: 300 !important;
  line-height: 1.3em;
  letter-spacing: 0.005em !important;
  margin: 0.5em 0;
}
@media screen and (min-width: 780px) {
  .why {
    padding: 5rem 0;
  }
  .why__copy {
    max-width: 540px;
  }
  .why__grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1120px) {
  .why__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.articles {
  background: #fafafa;
  padding: 3rem 0;
}
.articles__h2 {
  font-size: 2rem !important;
  font-weight: 300 !important;
  line-height: 1.3em;
  letter-spacing: 0.005em !important;
  margin: 0.5em 0;
  padding-bottom: 1.5rem;
}
.articles__grid {
  display: grid;
  grid-gap: 2rem;
}
.articles__item {
  background: white;
  overflow: hidden;
  border-radius: 0.5rem;
}
.articles__text {
  padding: 0 2rem 1rem 1rem;
}
.articles__img {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
  object-fit: cover;
}
.articles__foot {
  font-size: 0.85em;
  color: #9698a6;
  font-size: 0.8rem;
}
.articles__h4 {
  font-size: 1.2rem;
}
.articles__h4 a {
  text-decoration: inherit;
  color: inherit;
}
.articles__h4 a:hover, .articles__h4 a:focus, .articles__h4 a:active {
  color: #31d35c;
}
.articles__copy {
  font-size: 0.85em;
  color: #9698a6;
  font-size: 0.97rem;
}
@media screen and (min-width: 780px) {
  .articles__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1120px) {
  .articles__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  padding-top: 3rem;
  background-color: #2d314d;
}
.footer__social {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(5, 25px);
  justify-content: center;
  align-self: center;
  padding: 1rem 0;
}
.footer__link {
  color: #f3f4f6;
  display: block;
  text-decoration: none !important;
  padding: 0.3rem 0;
  font-size: 0.9rem;
}
.footer__link:hover, .footer__link:focus, .footer__link:active {
  color: #31d35c;
}
.footer__botton {
  color: white;
  border: none;
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
  padding: 0.9em 2.2em;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  margin: 1rem 0;
}
.footer__botton:hover {
  background-image: linear-gradient(to right, #adccb6 0%, #6ec7dd 100%);
}
.footer__copyright {
  color: #9698a6;
  font-size: 0.9rem;
  padding: 1rem 0;
  margin: 0;
}
@media screen and (min-width: 780px) {
  .footer {
    padding-top: 1.5rem;
  }
  .footer__grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .col-1 {
    display: grid;
    align-items: stretch;
  }
  .footer__social {
    justify-content: inherit;
  }
  .footer .col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer .col-3 {
    display: grid;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
